@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,a{
    text-transform: capitalize;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #fff;
    transition: all 0.7s ease ;
}

header{
    background-color: #1f1f1f;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    height: 10vh;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.logo,
.sign{
    cursor: pointer;
}

.nav-links li{
    display:inline-block;
    padding: 0px 20px;
}

nav{
    display:flex;
    align-items: center;
   
    /* width: 50%; */
    height: 10vh;
    justify-content: space-around;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 45px;
    margin-right: auto;
}

.logo .logo-img{
    margin-right: 20px;
}

.logo .logo-img img,
.logo .logo-txt img{
    transition: 0.5s all ease;
}


nav img{
    margin-left: 20px;
}

.burger{
    display: none;
}

.burger div{
    height: 3px;
    width: 30px;
    background-color: #F3B943;
    margin: 5px;
    transition: 0.3s all ease;
}

.container{
    width: 100%;
    overflow: hidden;
}

/* Banner*/

.banner .bgimg{
    position: absolute;
    height: 600px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.banner .char{
    position: relative;
    width: 100%;
    height: 600px;
}

.banner .char img{
    position: absolute;
}

.banner .char .bgLili{
    z-index: 2;
    right: 15%;
    bottom: 0;
    -webkit-animation: fadeInLili 1.7s both;
    animation: fadeInLili 1.7s both;
    animation-delay: 0.5s;
}

.banner .char .bgLuci{
    right: 0%;
    bottom: 0;
    -webkit-animation: fadeInLuci 1.3s both;
    animation: fadeInLuci 1.3s both;
}

.banner .char .bgEdith{
    left: 0;
    bottom: 0;
    -webkit-animation: fadeInEdith 1.3s both;
    animation: fadeInEdith 1.3s both;
}

.banner .char .bgEthan{
    left: 15%;
    bottom: 0;
    -webkit-animation: fadeInEthan 1.7s both;
    animation: fadeInEthan 1.7s both;
    animation-delay: 0.5s;
}

.banner .char .bnLogo{
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    -webkit-animation: fadeLogo 1.3s both;
    animation: fadeLogo 1.3s both;
    animation-delay: 2.1s;
    width: 500px;
}

/* QUOTE */
.quote{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 0;
    color: #5D3729;
}

.container .quote p{
    font-family: 'Allura', cursive;
    font-size: 35px;
    text-align: center;
}

/* About Story */
.AboutStory{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 600px; */
    width: 100%;
    position: relative;
    background: url(./Resources/About\ BG.png) no-repeat;
    padding: 5%;
}

.Abouttxt h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 65px;
    font-weight: 600;
    color: #F3B943;
    text-align: center;
}

.Abouttxt p{
    font-family: 'Glory', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #fff;
    line-height: 2.5rem;
    padding: 2%;
}

.AboutStory img{
    height: 60px;
}


/* Character */
.characters{
    margin: 5% 0;
}

.charc{
    margin: 20% 0;
    width: 100%;
    height: 400px;
    position: relative;
    background: url(./Resources/Group\ 1.png) no-repeat;
    object-fit: cover;
}

.charcCont{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

/* .charCont .charImg{
    margin-right: 15%;
} */

.charcCont .charcImg img{
   margin-bottom: -1%;
    width: 135%;
}

.charcCont .charcTxt{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
}

.charcTxt h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 65px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 45px;
    color: #9A1F2B;
    animation: fadeLuciTxt 1.3s both;
    animation-delay: .5s;
}

.charcTxt p{
    font-family: 'Glory', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #fff;
    line-height: 2.5rem;
}

.edith{
    background: url(./Resources/Group\ 2.png) no-repeat;
    object-fit: cover;
}

.edithCont{
    flex-direction: row-reverse;
}

.ethanTxt, .luciTxt{
    margin-left: 15%;
}

.edithTxt, .lilianTxt{
    margin-right: 15%;
}

.edithTxt h1{
    text-align: left;
}

.ethan{
    background: url(./Resources/Group\ 3.png) no-repeat;
    object-fit: cover;
}

.lilian{
    background: url(./Resources/Group\ 4.png) no-repeat;
    object-fit: cover;
}

.lilianCont{
    flex-direction: row-reverse;
}

.lilianTxt h1{
    text-align: left;
}



/* DOWNLOAD button */
.downloadbox{
    display: flex;
    margin-top: 200px;
    width: 100%;
}

.downloadbox .DLSoulless{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    margin-top: 60px;
    -webkit-animation: fadeLogo 1.3s both;
    animation: fadeLogo 1.3s both;
    animation-delay: 1s;
}

.itcholine{
    position: absolute;
    cursor: pointer;
    transform: translate(-50%,-50%);
    left: 50%;
    margin-top: 350px;
    width: 320px;
}

.btn{
    display: flex;
    position: relative;
    transform: translateX(-60%);
    transform: translateY(-120%);
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.btn1 img{
    cursor: pointer;
    margin-left: -180px
}

.btn2 img{
    cursor: pointer;
    margin-right: -180px
}

/* Damien*/

.Damien{
    margin-top: -10%;
}


/* Flairvee Group */
.Flairvee{
    margin-top: 400px;
    width: 100%;
    position: relative;
}

.Flairbx img{
    margin-left: 15%;
}

.Andromeda{
    margin-top: -33%;
    margin-left: 10%;
}


.desc5 h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 65px;
    font-weight: 400;
    text-align: right;
    margin-top: -1000px;
    padding-bottom: 40px;
    padding-right: 20%;
    color: #F3B943;
    animation: fadeLuciTxt 1.3s both;
    animation-delay: .5s;
}


.Flairbx p{
    font-family: 'Glory', sans-serif;
    font-size: 25px;
    text-align: right;
    color: #fff;
    line-height: 2.0rem;
    width: 500px;
    margin-top: -400px;
    margin-left: 650px;
}


/* animations */
nav a:hover{
    color: #F3B943;
    font-size: 19px;
    text-decoration: underline;
}

/* Characters Animation */
@keyframes fadeInEdith{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInLuci{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInEthan{
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInLili{
    0%{
        opacity: 0;
        transform: translateX(400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Logo Animation */
@keyframes fadeLogo{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

/* fade Lluci */
@keyframes fadeLuci{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeLuciTxt{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}


/* media-queries */
@media screen and (max-width:1024px){
    .logo .logo-img img{
        width: 45px;
    }
    .logo .logo-txt img{
        width: 130px;
    }
    .logo .logo-img{
        margin-right: 10px;
    }
    nav{
        width: 50%;
    }
    a{
        font-size: 16px;
    }
    .nav-links{
        align-items: center;
        padding: 10px 0;
    }
    .nav-links img{
        width: 23px;
        margin-top: 5px;
    }

    /* banner */
    
    .banner{
        height: 400px;
    }
    .banner .bgimg{
        height: 400px;
    }
    .banner .char{
        height: 400px;
    }
    .banner .char img{
        height: auto;
        width: 715px;
    }
    .banner .char .bnLogo{
        width: 250px;
        height: auto;
        transform: translate(-50%, -70%);
    }
    

}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden ;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 90vh ;
        top: 10vh;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 45px;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
    }
    a{
        font-size: 22px;
        border-bottom: 2px solid #F3B943;
    }

    .nav-links li{
        opacity: 0;
        width: 80%;
    }

    .burger{
        display: block;
        cursor: pointer;
        margin-left: 50px;
        padding-bottom: 7px;
    }
    .banner .char .bnLogo{
        width: 200px;
        height: auto;
    }
    .banner .char .bgLili{
        right: 5%;
    }
    .banner .char .bgEthan{
        left: 5%;
    }

}
.nav-active{
    z-index: 100;
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}